/* || General styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--body-text);
    background-color: var(--main-background);
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 16px; /* to match padding with ul li a */
    color: var(--heading-text);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

ul li a { /* Color for links defined elsewhere */
    display: block;
    padding: 13px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: orange;
    color: black;
    transition: 200ms;
}

/* || Inputs */
input:focus, select:focus, textarea:focus {
    background-color: var(--input-background-focus);
    outline-color: var(--input-border-focus);
}

textarea, input, select {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid var(--input-border);
    margin: 2px;
    vertical-align: middle;
    accent-color: var(--input-accent-color);
    background-color: var(--input-background);
    color: var(--input-text);
    transition-duration: 1s;
    box-shadow: 1px 1px 3px #00000062 inset;
}

textarea {
    field-sizing: content; /* height of the textarea will automatically increase based on the number of lines entered. */
    min-height: 2rem; /* default number of lines to start with */
}

::placeholder {
    color: var(--placeholder-text);
}

input[type=text] {
    min-width: 150px;
    max-width: 450px;
    field-sizing: content;
    font-size: 13px;
}

input[type=checkbox] {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 15px;
    height: 15px;
}

/* Buttons */
button {
    border-radius: 5px;
    width: 80px;
    background-color: var(--button-background);
    color: var(--button-text);
    padding: 5px;
    box-shadow: -2px -2px 2px #00000086 inset;
    transition: 100ms;
}
    button:hover {background-color: var(--button-hover);}
    button:active {
        background-color: var(--button-active);
        box-shadow: 2x 2px 2px #00000086 inset;
    }

/* Alternative diagnosis suggestion button */
.altButton {
    width: auto;
}

/* ||| Links */
a:link {color: var(--heading-text);}
    a:hover {color: var(--hyperlink-hover);}
    a:active {color: var(--hyperlink-active);}
    a:visited {color: var(--hyperling-static);}



/* || Specific styles */
    .primaryColor {
        background-color: var(--body-primary-color);
    }

    .secondaryColor {
        background-color: var(--body-secondary-color);
        color: var(--body-secondary-text);
    }

/* Suggestion styles */
    .suggestContainer {
        position: relative;
    }

    .drugSuggestionClass {
        font-size: 13px;
        color: var(--placeholder-text);
        position: absolute;
        left: 35px;
        top: 8px;
        pointer-events: none;
    }

    .diagnosisSuggestionClass {
        font-size: 13px;
        color: var(--placeholder-text);
        position: absolute;
        left: 48px;
        top: 102px;
        pointer-events: none;
    }

/* Character count styles */
    .characterLimitGreen {
        color: var(--body-text);
        background-color: transparent;
        font-size: 13px;
        opacity: 0.5;
        padding: 5px;
    }

    .characterLimitYellow {
        color: yellow;
        background-color: black;
        font-size: 14px;
        opacity: 0.6;
        padding: 5px;
    }

    .characterLimitOrange {
        color: orange;
        background-color: black;
        font-size: 17px;
        opacity: 0.7;
        padding: 6px;
    }

    .characterLimitRed {
        color: red;
        background-color: black;
        font-size: 20px;
        opacity: 1;
        padding: 8px;
    }

/* Div paddings */
.inputDiv {
    padding: 5px 10px 10px 10px; /* Top, right, bottom, left */
}

/* Adjust size of the large textarea inputs, i.e. authorizations, claims, clinicals, conclusion. */
.bigTextarea {
    width: 450px;
}

.appealTextarea {
    width: 408px;
    margin-bottom: 5px;
}

.heading {
    background-color: var(--header-background);
    padding-left: 10px;
    height: 45px;
    border-radius: 18px 18px 0px 0px; /* Rounded on top to match border, flat on bottom */
    display: flex;
    align-items: center;
    color: var(--heading-text);
}

/*
.input-spacer {
    min-height: 29px;
    display: flex;
    align-items: center;
}
*/

.footing {
    background-color: var(--footer-background);
    padding: 8px 10px 8px 10px;
    border-radius: 0px 0px 18px 18px;
}

.container {/* Used to create a border around Note Helper and Saved Notes */
    border: 2px solid var(--body-border-color);
    border-radius: 20px;
    margin: 10px;
    box-shadow: 5px 10px 15px #00000086;
}

.themeBookBackgroundColor {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--body-text);
    background-color: var(--main-background);
}

.stateRegAndCharacterCountBox {
    display: flex;
    justify-content: space-between;
}

.caseTypeInputBox {
    display: flex;
    align-items: center;
}

.align-center {
    padding-right: 5px;
}

.justify-split {
    justify-content: space-between;
}

.characterCount {
    opacity: 0.5;
    font-size: 13px;
    padding: 5px;
}

.appealCopyButtons {
    margin-left: 26px;
}

.error {
    background-color: red;
    color: black;
    padding: 0px;
}

.hideError {
    opacity: 0;
    padding: 0;
    transition: 750ms;
}

.showError {
    max-height: auto;
    opacity: 1;
    padding: 10px;
    transition: 1500ms;
}


/* || Animations */
/* ||| Text animations */    
    /* Manually add this class to each element you want to animate; this is the starting state. */
        .hideStart {
            opacity: 0;
            transition: 1s;
            color: var(--animated-text);
        }

    /* Class that gets added to an element in animateText(); fade-in effect. */
        .revealText {
            opacity: 1;
            transition: 1s;
        }

    /* Class added in animateText(); final result is to hide the element */
        .hideEnd {
            opacity: 0;
        }

/* || Add or remove settings */
    .hideInput {
        transition: .75s;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
    }

    .showInput {
        max-height: 200px;
        opacity: 1;
        transition: opacity 1.5s, max-height 1.5s;
    }

    .hideContent {
        display: block;
        height: 0;
        opacity: 0;
        overflow: hidden;
        transition-property: height;
        transition: 0.5s;
        transition-behavior: allow-discrete;
    }

    /* fallbak for not supported browsers */
    .showContent {
        height: auto; 
        opacity: 1;
        transition: 0.5s;
        overflow: hidden;
    }

    /* for modern browsers */
    @supports (height: calc-size(auto, size)) {
    .showContent {
        height: calc-size(auto, size);
    }
    }




    .showTimer {
        opacity: 0.5;
    }

    /* show and hide saved notes, toggled on/off */
    .hideElement {
        display: none;
    }


/* Error message */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.alert {
    --alert-foreground-color: #222222;
    --alert-background-color: #eeeeee;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 20px;
    background-color: var(--alert-background-color);
}

.alert-icon {
    display: flex;
    align-items: center;
}

.alert-text {
    margin-left:  1em;
    font-size: 1.15 em;
    font-weight: 500;
}

.alert-icon .material-symbols-outlined, .alert-text {
    color: var(--alert-foreground-color);
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-10px); }
  40% { transform: translateX(10px); }
  60% { transform: translateX(-10px); }
  80% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.5s 1;
}